.home{
    display: flex;
    justify-content: center;
    .background {
        width: 65%;
        height: auto;
        background-color: $primary-300;
        position: absolute;
        z-index: 0;
    }
    .front-content {
        position: absolution;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        margin-left:9vw;
        .free-text {
            display: flex;
            flex-direction: column;
            padding: 0 0 0 0;
            width: 25%;
            align-items:flex-end;
            .right-align {
                text-align: right;
                margin: 10px 0px 10px 0px
            }
           
        }
        

    }
}